@import "../../../assets/vars";

.fill-remaining-space {
  flex: 1 1 auto;
}

#nav-hero {
  width: 100%;
  height: 20%;
  background-color: $app-accent;
  padding: 15% 5% 0 5%;
  position: relative;

  h2,
  .user-profile-img {
    position: absolute;
    bottom: 0;
  }

  .user-profile-img {
    border-radius: 50%;
    object-fit: cover;
    margin: 15% 0;
  }

  h2 {
    margin: 5% 0;
  }
}

md-sidenav {
  width: 20vw;

  md-icon {
    margin-right: 10px;
  }

  md-list-item {
    cursor: pointer;
  }
}

md-sidenav-container {
  transform: none;

  /deep/ .mat-sidenav-content {
    transform: none !important;
  }
}
