<md-sidenav-container fullscreen>
  <md-sidenav #start>
    <div id="nav-hero">
      <img class="user-profile-img" src="{{user$.profileImage}}" alt="{{user$.name}} profile image">
      <h2>{{ user$.name }}</h2>
    </div>

    <md-list>
      <md-list-item [routerLink]="['/home/transactions']" routerLinkActive="active">
        <md-icon>list</md-icon>
        <span i18n>Transactions</span>
      </md-list-item>
      <md-list-item [routerLink]="['/home/overview']" routerLinkActive="active">
        <md-icon>timeline</md-icon>
        <span i18n>Overview</span>
      </md-list-item>
      <md-list-item [routerLink]="['/home/budgets']" routerLinkActive="active">
        <md-icon>work</md-icon>
        <span i18n>Budgets</span>
      </md-list-item>
      <md-list-item [routerLink]="['/home/users']" routerLinkActive="active">
        <md-icon>supervisor_account</md-icon>
        <span i18n>Users</span>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="start.open()">
      <md-icon>menu</md-icon>
    </button>
    <span i18n>Expenses</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="logout()">
        <md-icon>person</md-icon>
        <span i18n>Logout</span>
      </button>
      <button md-menu-item [routerLink]="['/home/settings']">
        <md-icon>settings</md-icon>
        <span i18n>Settings</span>
      </button>
    </md-menu>
  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-container>
