md-card {
  width: 20%;
  display: inline-block;
  margin: 1em;
  vertical-align: top;
}

.mat-card-image {
  border-radius: 50%;
  object-fit: cover;
  margin: 0 0.5em 0 -1em;
  width: 10%;
  height: 10%;
}

.mat-card-header-text {
  margin: 0;
}
