sudo: required
dist: trusty

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js
node_js:
  - "6"
  - "7"

env:
  global:
    - FACEBOOK_APP_ID=12345
    - FACEBOOK_APP_SECRET=a1b2c3d4e5f6g7

services:
  - mongodb

before_install:
  - npm install -g npm@latest

install:
  - cd server && npm install
  # - cd ../client && npm install

script:
  # Server
  - cd ../server
  - npm run eslint .
  - npm run test

after_script:
  - istanbul cover ./node_modules/mocha/bin/_mocha --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
