sudo: required
dist: trusty

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js
node_js:
  - "6"
  - "7"

cache:
  npm: true
  directories:
  - client/node_modules
  - server/node_modules

env:
  global:
    - FACEBOOK_APP_ID=12345
    - FACEBOOK_APP_SECRET=a1b2c3d4e5f6g7

services:
  - mongodb

before_install:
  - npm install -g npm@latest local-web-server codecov
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  - cd server && npm install
  - cd ../client && npm install

script:
  # Server
  - cd ../server
  - npm run lint
  - npm run test

  # Client
  - cd ../client
  - npm run lint
  - npm run test
  - ng build --prod --aot
  - cd dist && ws --port 4200&
  - npm run e2e

after_script:
  - cd ../server && npm run coverage
  - codecov
  - nsp check
