sudo: required
dist: trusty

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js
node_js:
  - "6"
  - "7"

env:
  - FACEBOOK_APP_ID=12345
  - FACEBOOK_APP_SECRET=a1b2c3d4e5f6g7

before_install:
  - npm install -g npm@latest

install:
  - cd server && npm install
  # - cd ../client && npm install

script:
  # Server
  - cd ../server
  - npm run eslint .
  - npm run test
