@import '../../../../../assets/vars';

md-card {
  @include transaction-card;
}

md-card {
  flex-direction: column;

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

md-card-header,
md-card-content {
  flex-direction: column;
}

md-card-header {
  height: auto;
}

md-card-title.mat-card-title {
  font-size: 230%;
}

.category {
  display: inline-flex;

  md-chip-list {
    margin: 0 8px;
  }
}

#map {
  width: 100%;

  .sebm-google-map-container {
    height: 300px;
  }
}

md-card-actions {
  display: flex;
  justify-content: flex-end;
}
