<md-sidenav-container fullscreen>
  <md-sidenav #start>
    <md-list>
      <md-list-item> Transactions </md-list-item>
      <md-list-item> Budgets </md-list-item>
      <md-list-item> Settings </md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="start.open()">
      <md-icon> menu </md-icon>
    </button>
    <span>Expenses</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <img class="user-profile-img" src="" alt="">
  </md-toolbar>

  <exp-transaction-view></exp-transaction-view>
</md-sidenav-container>
