<md-card>
  <div class="card-group welcome-text">
    <md-card-title>Welcome to Expenses!</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
    </md-card-content>
  </div>
  <div class="line"></div>
  <div class="card-group login-buttons-container">
    <a href="/api/auth/facebook" class="button facebook"><span><i class="fa fa-facebook"></i></span><p>facebook</p></a>
    <a href="/api/auth/twitter" class="button twitter"><span><i class="fa fa-twitter"></i></span><p>twitter</p></a>
    <a href="/api/auth/google" class="button google-plus"><span><i class="fa fa-google-plus"></i></span><p>google</p></a>
    <a href="/api/auth/github" class="button github"><span><i class="fa fa-github"></i></span><p>github</p></a>
  </div>
</md-card>
