@import '../../../../../assets/vars';

md-card {
  @include transaction-card;
}

md-card-title.mat-card-title {
  font-size: 200%;
}

md-card-header,
md-card-content {
  flex-direction: column;
}

.category {
  display: inline-flex;

  md-chip-list {
    margin: 0 8px;
  }
}
